<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="utf-8">
    <title>My Shopping Cart</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->

   

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{% static 'userui/lib/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'userui/lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'userui/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{% static 'userui/css/style.css' %}" rel="stylesheet">
</head>

<body>
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->


    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
        <a href="{% url 'home' %}" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
            <h2 class="m-0 text-primary">My Shopping Cart</h2>
        </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0">
                <a href="{% url 'home' %}" class="nav-item nav-link active">Home</a>
                <a href="#" class="nav-item nav-link">About</a>
                <a href="{% url 'cart' %}" class="nav-item nav-link">My Cart {{ca}}</a>
                <a class="nav-item nav-link" href="{% url 'logout' %}"><i class="fa fa-lock"></i> Logout</a>
                
            </div>
            
        </div>
    </nav>
    <!-- Navbar End -->
    <!-- Courses Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                
                <h1 class="mb-5">Products</h1>
                <h6 class="section-title bg-white text-center text-primary px-3"></h6>
            </div>
            <div class="row g-4 justify-content-center">
                {% for it in its %}
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s" style="padding-bottom: 200px;">
                    <div class="course-item bg-light">
                        <div class="position-relative overflow-hidden">
                            <img class="img-fluid" src="{{it.image.url}}" alt="no{{it.image}} ">
                            <div class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4">
                            </div>
                        </div>
                        <div class="text-center p-4 pb-0">
                            <h3 class="mb-0"><i class="fas fa-rupee-sign" style="padding-right:3px;"></i>{{it.price}}</h3>
                            <h5 class="mb-4">{{it.name}}</h5>
                        </div>
                        <div class="d-flex border-top">
                            <form action="add_to_cart/{{it.id}}" method="POST" class="btn-block">
                                {% csrf_token %}
                            <button style="padding-left:40px;padding-top: 20px;padding-bottom: 20px;"><small class="flex-fill text-center border-end py-2"><i class="fa fa-minus text-primary me-2"></i><font style="padding-right:40px;">Add</font></small></button>
                            <a href="{% url 'add_to_cart' it.id %}"> <button style="padding-left:20px;padding-top: 20px;padding-bottom: 20px;">
                                <small style="padding-left:20px;padding-top: 20px;padding-bottom: 20px;" class="flex-fill text-center border-end py-2">
                                    <i class="fa fa-shopping-cart text-primary me-2"></i>
                                    <font style="padding-right:20px;">Add to Cart</font></small>
                            </button></a>
                            <input hidden type="text" name='product' value='{{it.id}}'>
                            <button style="padding-left:20px;" type="submit"><small class="flex-fill text-center py-2"><i class="fas fa-plus text-primary me-2"></i><font style="padding-right:20px;">Remove</font></small></button>
                            </form>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Courses End -->
    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'userui/lib/wow/wow.min.js' %}"></script>
    <script src="{% static 'userui/lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'userui/lib/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static 'userui/lib/owlcarousel/owl.carousel.min.js' %}"></script>

    <!-- Template Javascript -->
    <script src="{% static 'userui/js/main.js' %}"></script>
    
</body>

</html>